body {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	position: relative;
	height: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	border: none;
}

a {
	text-decoration: none;
}

.titlePanel {
	padding: 0.4em 0.2em 0.4em 0.4em;
	font-size: 1.1em;
	border: 1px solid #4297d7;
	border-radius: 5px;
	background: #5c9ccc url("../images/ui-bg_highlight-soft_50_dddddd_1x100.png.png") 50% 50% repeat;
	color: #ffffff;
}

.titlePanelQuiz {
	padding: .2em .5em .2em;
	border: 1px solid #4297d7;
	border-radius: 5px;
    background: #5c9ccc url("../images/ui-bg_highlight-soft_50_dddddd_1x100.png.png") 50% 50% repeat;
    color: #ffffff;
}

.corner {
	
}

.fundo {
	border: 1px solid #eeeeee;
	
	
}

.esquerda {
	width: 82px;
	height: 100%;
	float: left;
	position: absolute;
}

.direita {
	height: 100%;
	border: 1px solid #d9d6c4;
	position: relative;
	margin-left: 90px;
	right: 0px;
	top: 0px;
	bottom: 44px;
}

.inferior {
	width: 100%;
	float: left;
	position: fixed;
	height: 23px;
	bottom: 0px;
}

.cadeado {
	height: 32px !important;
	width: 32px !important;
	background-image: url(../images/cadeado.png) !important;
	left: 30% !important;
	top: 25% !important;
}

.salvar {
	height: 16px;
	width: 16px;
	background-image: url(../images/salvar16.png) !important;
}

.travar {
	height: 16px;
	width: 16px;
	background-image: url(../images/travar.png) !important;
}

.logout48 {
	height: 48px !important;
	width: 48px !important;
	background-image: url(../images/logout48.png) !important;
	top: 15px !important;
	left: 15px !important;
}

.listaAtendimento48 {
	height: 48px;
	width: 48px;
	background-image: url(../images/lista48.png) !important;
	top: 15px !important;
	left: 15px !important;
}


.coluna0 {
	width: 0%;
}

.coluna1 {
	width: 1%;
}

.coluna2 {
	width: 2%;
}

.coluna02 {
	width: 2%;
	text-align: center;
}

.coluna3 {
	width: 3%;
}

.coluna03 {
	width: 3%;
	text-align: center;
}

.coluna4 {
	width: 4%;
}

.coluna5 {
	width: 5%;
}

.coluna5_2 {
	width: 5%;
	vertical-align: top;
}

.coluna05 {
	width: 5%;
	text-align: center;
}

.coluna7 {
	width: 7%;
}

.coluna6 {
	width: 6%;
}

.coluna07 {
	width: 7%;
	text-align: center;
}

.coluna8 {
	width: 8%;
}

.coluna9 {
	width: 9%;
}

.coluna10 {
	width: 10%;
}

.coluna010 {
	width: 10%;
	text-align: center;
}

.coluna10_2 {
	width: 10%;
	vertical-align: top;
}

.coluna10_bottom {
	width: 10%;
	vertical-align: bottom;
}

.coluna11 {
	width: 11%;
}

.coluna12 {
	width: 12%;
}

.coluna13 {
	width: 13%;
}

.coluna14 {
	width: 14%;
}

.coluna15 {
	width: 15%;
}

.coluna15_2 {
	width: 15%;
	vertical-align: top;
}

.coluna15_3 {
	width: 15%;
	vertical-align: bottom;
}

.coluna015 {
	width: 15%;
	text-align: center;
}

.coluna16 {
	width: 16%;
}

.coluna17 {
	width: 17%;
}

.coluna18 {
	width: 18%;
}

.coluna19 {
	width: 19%;
}

.coluna50px {
	width: 50px;
}

.coluna20 {
	width: 20%;
}

.coluna020 {
	width: 20%;
	text-align: center;
}

.coluna20_2 {
	width: 20%;
	vertical-align: top;
}

.coluna20_bottom {
	width: 20%;
	vertical-align: bottom;
}

.coluna20_3 {
	width: 20%;
	min-width: 130px;
}

.coluna20_right {
	width: 20%;
	text-align: right;
}

.coluna21 {
	width: 21%;
}

.coluna22 {
	width: 22%;
}

.coluna23 {
	width: 23%;
}

.coluna24 {
	width: 24%;
}

.coluna25 {
	width: 25%;
}

.coluna25right {
	width: 25%;
	text-align: right;
}

.coluna25_2 {
	width: 25%;
	vertical-align: top;
}

.coluna26 {
	width: 26%;
}

.coluna27 {
	width: 27%;
}

.coluna28 {
	width: 28%;
}

.coluna29 {
	width: 29%;
}

.coluna030 {
	width: 30%;
	text-align: center;
}

.coluna30 {
	width: 30%;
}

.coluna30_2 {
	width: 30%;
	vertical-align: top;
}

.coluna30_bottom {
	width: 30%;
	vertical-align: bottom;
}

.coluna31 {
	width: 31%;
}

.coluna32 {
	width: 32%;
}

.coluna33 {
	width: 33%;
}

.coluna33_2 {
	width: 33%;
	text-align: right;
}

.coluna34 {
	width: 34%;
}

.coluna035 {
	width: 35%;
	text-align: center;
}

.coluna35 {
	width: 35%;
}

.coluna36 {
	width: 36%;
}

.coluna37 {
	width: 37%;
}

.coluna38 {
	width: 38%;
}

.coluna39 {
	width: 39%;
}

.coluna40 {
	width: 40% !important;
}

.coluna40_2 {
	width: 40%;
	vertical-align: top;
}

.coluna41 {
	width: 41% !important;
}

.coluna42 {
	width: 42% !important;
}

.coluna42_2 {
	width: 42.2%;
}

.coluna43 {
	width: 43%;
}

.coluna44 {
	width: 44%;
}

.coluna45 {
	width: 45%;
}

.coluna45_2 {
	width: 45%;
	vertical-align: top;
}

.coluna45px {
	width: 45px;
}

.coluna46 {
	width: 46% !important;
}

.coluna47 {
	width: 47% !important;
}

.coluna48 {
	width: 48% !important;
}

.coluna49 {
	width: 49% !important;
}

.coluna50 {
	width: 50% !important;
}

.coluna50_2 {
	width: 50%;
	vertical-align: top;
}

.coluna50_bottom {
	width: 50%;
	vertical-align: bottom;
}

.coluna50px {
	width: 50px;
}

.coluna51 {
	width: 51% !important;
}

.coluna52 {
	width: 52% !important;
}

.coluna53 {
	width: 53% !important;
}

.coluna54 {
	width: 54% !important;
}

.coluna55 {
	width: 55% !important;
}

.coluna55_2 {
	width: 55%;
	vertical-align: top;
}

.coluna56 {
	width: 56% !important;
}

.coluna57 {
	width: 57% !important;
}

.coluna58 {
	width: 58% !important;
}

.coluna59 {
	width: 59% !important;
}

.coluna60 {
	width: 60% !important;
}

.coluna60_2 {
	width: 60%;
	vertical-align: top;
}

.coluna60_3 {
	width: 60% !important;
	text-align: right;
}

.coluna60px {
	width: 60px;
}

.coluna61 {
	width: 61% !important;
}

.coluna62 {
	width: 62% !important;
}

.coluna63 {
	width: 63% !important;
}

.coluna64 {
	width: 64% !important;
}

.coluna65 {
	width: 65% !important;
}

.coluna65_2 {
	width: 65% !important;
	vertical-align: top !important;
}

.coluna65px {
	width: 65px;
}

.coluna66 {
	width: 66% !important;
}

.coluna67 {
	width: 67% !important;
}

.coluna68 {
	width: 68% !important;
}

.coluna69 {
	width: 69% !important;
}

.coluna70 {
	width: 70%;
}

.coluna70_2 {
	width: 70%;
	vertical-align: top;
}

.coluna71 {
	width: 71%;
}

.coluna72 {
	width: 72%;
}

.coluna73 {
	width: 73%;
}

.coluna74 {
	width: 74%;
}

.coluna75 {
	width: 75%;
}

.coluna76 {
	width: 76%;
}

.coluna77 {
	width: 77%;
}

.coluna78 {
	width: 78%;
}

.coluna79 {
	width: 79%;
}

.coluna80 {
	width: 80%;
}

.coluna80_2 {
	width: 80%;
	vertical-align: top;
}

.coluna80_3 {
	width: 80%;
	min-width: 400px;
}

.coluna80_bottom {
	width: 80%;
	vertical-align: bottom;
}

.coluna81 {
	width: 81%;
}

.coluna82 {
	width: 82%;
}

.coluna83 {
	width: 83%;
}

.coluna84 {
	width: 84%;
}

.coluna85 {
	width: 85%;
}

.coluna85_3 {
	width: 85%;
	vertical-align: bottom;
}

.coluna86 {
	width: 86%;
}

.coluna87 {
	width: 87%;
}

.coluna88 {
	width: 88%;
}

.coluna89 {
	width: 89%;
}

.coluna90 {
	width: 90%;
}

.coluna90_2 {
	width: 90%;
	vertical-align: top;
}

.coluna90_bottom {
	width: 90%;
	vertical-align: bottom;
}

.coluna91 {
	width: 91%;
}

.coluna92 {
	width: 92%;
}

.coluna93 {
	width: 93%;
}

.coluna94 {
	width: 94%;
}

.coluna95 {
	width: 95%;
}

.coluna96 {
	width: 96%;
}

.coluna97 {
	width: 97%;
}

.coluna98 {
	width: 98%;
}

.coluna985 {
	width: 98.5%;
}

.coluna99 {
	width: 99%;
}

.coluna995 {
	width: 99.5%;
}

.coluna100 {
	width: 100%;
}

.coluna100_2 {
	width: 100%;
	vertical-align: top;
}

.dialog20 {
	width: 20% !important;
	height: 20% !important;
	left:40%!important;
	top:40%!important;
}

.dialog30 {
	width: 30% !important;
	height: 30% !important;
	left:35%!important;
	top:35%!important;
}

.dialog40 {
	width: 40%!important;
	height: 40%!important;
	left:30%!important;
	top:30%!important;
}

.dialog50 {
	width: 50% !important;
	height: 50% !important;
	left:25%!important;
	top:25%!important;
}

.dialog60 {
	width: 60% !important;
	height: 60% !important;
	left:20%!important;
	top:20%!important;
}

.dialog70 {
	width: 70% !important;
	height: 70% !important;
	left:15%!important;
	top:15%!important;
}

.dialog80 {
	width: 80% !important;
	height: 80% !important;
	left:10%!important;
	top:10%!important;
}

.dialog90 {
	width: 90% !important;
	height: 90% !important;
	left:5%!important;
	top:5%!important;
}

.dialog95 {
	width: 95% !important;
	height: 95% !important;
	left:2.5%!important;
	top:2.5%!important;
}

.autoComplete10 input {
	width: 10%
}

.autoComplete20 input {
	width: 20%
}

.autoComplete30 input {
	width: 30%
}

.autoComplete40 input {
	width: 40%
}

.autoComplete50 input {
	width: 50%
}

.autoComplete60 input {
	width: 60%
}

.autoComplete70 input {
	width: 70%
}

.autoComplete75 input {
	width: 75%
}

.autoComplete80 input {
	width: 80%
}

.autoComplete90 input {
	width: 90%
}

.autoComplete95 input {
	width: 95%
}

.autoComplete96 input {
	width: 96%
}

.autoComplete98 input {
	width: 98%
}

.autoComplete995 input {
	width: 99.5%
}

.sistema48 {
    height: 48px;
    width: 48px;
    background-image: url(../images/banner3_4.png) !important;
    top: 15px !important;
    left: 15px !important;
}

.ui-datatable table,.ui-treetable table {
	table-layout: auto !important;
}

.ui-autocomplete {
	display: inline;
}

.scrollLateral {
	width: 200px !important;
	position: absolute !important;
}

.boxPaciente {
	min-width: 165px !important;
}

.laranja {
    border: 1px solid #fad42e;
    background: #fbec88 url("/restaurante/javax.faces.resource/images/ui-bg_flat_55_fbec88_40x100.png.xhtml?ln=primefaces-redmond") 50% 50% repeat-x;
    color: #363636;
}

.colunaEvolucao {
	vertical-align: top;
	font-size: 10px;
	text-align: left;
	min-width: 207px;
}

.colunaEvolucaoDetalhe {
	vertical-align: top;
	width: 95%;
}
.imprimir {
	height: 16px;
	width: 16px;
	background-image: url(../images/imprimir16.png) !important;
}

.tabAtendimento .ui-tabs, .tabAtendimento .ui-tabs-panel {
    padding: 0px !important;
}

.ui-panel .ui-panel-title {
}

.cancelar16 {
	height: 16px;
	width: 16px;
	background-image: url(../images/delete.png) !important;
}

.IconePanel {
	float: right;
	margin: 1px 0px 0px 4px;
}

.linkMovimentacao {
	border: 0px;
	margin-left: 5px;
	margin-top: -4px;
	margin-bottom: -5px;
}

.cadastroBase48 {
	height: 48px;
    width: 48px;
	background-image: url(../images/cadastroBase48.png) !important;
	top: 15px !important;
	left: 15px !important;
}

.grupo48 {
	height: 48px;
    width: 48px;
	background-image: url(../images/grupo48.png) !important;
	top: 15px !important;
	left: 15px !important;
}

.viewRelatec {
	height: 48px;
	width: 48px;
	background-image: url(../images/relatec48.png) !important;
	top: 15px !important;
	left: 15px !important;
}

.configure48 {
	height: 48px;
	width: 48px;
	background-image: url(../images/configure48.png) !important;
	top: 15px !important;
	left: 15px !important;
}

.atendimento48 {
	height: 48px;
	width: 48px;
	background-image: url(../images/pep48.png) !important;
	top: 15px !important;
	left: 15px !important;
}

.funcionario48 {
	height: 48px;
	width: 48px;
	background-image: url(../images/captain48.png) !important;
	top: 15px !important;
	left: 15px !important;
}

.ui-selectonemenu{
	min-width: 0px !important;
}

.selecionado {
    border: 1px solid #79b7e7;
    background: #d0e5f5 !important;
    font-weight: bold;
    color: #1d5987;
}

.colunaInformativoAjax {
	width: 13%;
	height: 100%;
	padding: 2px;
	margin: 1em;
	border-width: thin;
	border-style: groove;
	line-height: 1.2em;
	text-align: left;
	font-size: 10px;
}

.colunaInformativo1 {
	width: 32%;
	height: 100%;
	padding: 2px;
	margin: 1em;
	border-width: thin;
	border-style: groove;
	line-height: 1.2em;
	text-align: left;
	font-size: 10px;
}

.colunaInformativo2 {
	width: 15%;
	padding: 2px;
	margin: 1em;
	border-width: thin;
	border-style: groove;
	line-height: 1.2em;
	text-align: left;
	font-weight: bold;
	font-size: 10px;
}

.colunaInformativo3 {
	width: 20%;
	padding: 2px;
	margin: 1em;
	border-width: thin;
	border-style: groove;
	line-height: 0.5em;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
}

.colunaInformativo4 {
	width: 22%;
	padding: 2px;
	margin: 1em;
	border-width: thin;
	border-style: groove;
	line-height: 0.5em;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
}

.colunaInformativo5 {
	width: 5%;
	padding: 2px;
	background-color: #c0402a;
	margin: 1em;
	border-width: thin;
	border-style: groove;
	line-height: 0.5em;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
}

.estiloVerde {
	color: green;
	font-weight: bold;
}

.estiloAzul {
	color: darkblue;
	font-weight: bold;
}

.btnPanelMedico {
	margin-right: 5px;
}

.gridNoBorder div {
	border: 0px !important;
	background: none;
}

.gridNoBorder tbody tr td {
	border: 0px !important;
}

.gridBodyNoPadding tbody tr td {
	padding: 0px !important;
}

.coluna90Input input{
	width: 90%;
} 

.coluna95Input input{
	width: 95%;
} 

.coluna100Input input{
	width: 100%;
} 

.gridNoBorder div {
	border: 0px !important;
	background: none;
}

.gridNoBorder tbody tr td {
	border: 0px !important;
}

.dadosVitais {
	font: normal normal normal 18px/1 FontAwesome !important;
	margin-left: 5px;
	color: #cc0000 !important;
}

.alterarStatusAtendimento {
	font: normal normal normal 18px/1 FontAwesome !important;
	margin-left: 5px;
	color: #4297d7 !important;
}

#topo {position:fixed; width:100%; height:32px; top:0; left:0; z-index:20}
#principal {position: relative; width: 100%; top: 30px; height: calc(100vh - 28px); overflow-y: auto; overflow-x: hidden; }
#rodape {position:fixed; width:99.5%; height:60px; bottom:0; left:0}

*:not(.ui-selectonemenu-trigger):not(.ui-selectonemenu-label):not(.ui-chkbox-box) {
	box-sizing: border-box;
}

/* correção do bug da font-rio, agora pode usar icon="icon-xxx" */
[class^="icon-"], [class*=" icon-"] { 
    background-image: none !important;
    text-indent: 0px;
}
/*---*/

.ui-treetable thead th, .ui-treetable tbody td, .ui-treetable tfoot td {
    white-space: inherit !important;
}

.comboExame{
	padding: 4px;
	width:100%; 
	opacity: 1 !important; 
	color: #2E6E9E; 
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; 
	font-size: 1em;
	border: 1px solid #c5dbec;
	border-radius: 5px; 
	box-shadow: inset 0 2px 2px #8f8f8f;
}

.ui-spinner-input {
    width: 60px !important;
}

span[id*="tabview\:formCampo\:gridPesquisaCampo"] > input {
	width: 60px !important;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .55 !important;
}

.btnDialog {
	margin-right: 5px;
}